html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
           /* Home*/
body {
    background-color:#FFFFFF;
}
header {
   border-bottom:  1px solid black;
   padding-top: 30px;
   padding-bottom: 30px;

}

li {
    display: inline;
    margin-right: 100px;
}
.first-item {
margin-left: 537px;
}
.nav {
    text-decoration: none;
    font-size: 18px;
    color: #000000;
}
.box-model {
    display: inline-block;
}
.box-top-wrapper {
    width: 333PX;
    height: 487PX;
    border: 1PX solid black;
    margin-top: 100px;
    margin-left: 126px;
}

img{
    padding: 11px 30px 15px 11px;
}
h4{
    width: 265.95px;
    height: 25.52px;
    font-size: 16px;
    color: #000000;
    margin-left: 26px;
}
 .poto-description {
    width: 282.71px;
    height: 51.04px;
    font-size: 14px;
    color: #000000;
    margin-top: 18.48px;
    margin-left: 26px;
 }
button {
    margin-top: 29px;
    margin-left: 379px;
}
 .contact-us { 
    font-size: 40px;
    color: #000000;
    margin-top: 150px;
    margin-left: 620px;
}
.contact-info {
    font-size: 25px;
    color: #000000;
    margin-left: 175px;
    margin-top: 300px;
}
.about-us {
    font-size: 40px;
    color: #000000;
    margin-top: 150px;
    margin-left: 580px;
}
p {
    font-size: 25px;
    color: #000000;
    margin-left: 175px;
    margin-top: 300px;
}
 .adress-link {
    
        font-size: 25px;
        color: #000000;
        margin-left: 175px;
        margin-top: 108px;
    }
 